In [82]:
import requests
from datetime import datetime
import json
import time
import pandas as pd
from time import mktime

In [49]:
class PolgonData(object):

    def __init__(self):
        self.params=params = (('apiKey', 'M_PKVL_rqHZI7VM9ZYO_hwPiConz5rIklx893F'),)

    def PolygonLastTrades(self,symbol):
        # Make use of Tickers
        requesturl='https://api.polygon.io/v1/last/stocks/'+symbol
        response = requests.get(requesturl, params=self.params)
        return json.loads(response.text)

    def PolygonHistoricTrades(self, date=None, symbol=None,startTS=None,endTS=None,limitresult=10):
        requesturl='https://api.polygon.io/v2/ticks/stocks/nbbo/'+symbol+'/'+date+'?timestamp='+startTS+'&timestampLimit='+'1581695521575883997'+'&limit='+limitresult
        print(requesturl)
        response = requests.get(requesturl, params=self.params)
        return json.loads(response.text)
    
    def PolygonAggregdateData(self):
        # Make use of Tickers, Date and Limit
        requesturl='https://api.polygon.io/v2/aggs/ticker/AAPL/range/1/minute/2020-02-14/2020-02-15'
        response = requests.get(requesturl, params=self.params)
        return json.loads(response.text)

In [119]:
from datetime import datetime

class DateTimeManipulation(object):
    
    def __init__(self,date=None):
        self.date=date

    # Returns timestamp with milliseconds
    def unix_time_millis(self,dt):
        epoch = datetime.utcfromtimestamp(0)
        tsDate=(dt - epoch).total_seconds() * 1000.0
        tsDate=str(int(tsDate))+'000000'
        return tsDate

    def convertStringDateToTS(self,starttime='9:30:00',endtime='4:00:00'):
        marketOpenTSStr = self.date +' '+ starttime
        marketCloseTSStr = self.date +' ' + endtime
        
        marketTimeStamps={}
        marketTimeStamps['marketOpenTS']=self.unix_time_millis(datetime.strptime(marketOpenTSStr,'%Y-%m-%d %H:%M:%S'))
        marketTimeStamps['marketCloseTS']=self.unix_time_millis(datetime.strptime(marketCloseTSStr,'%Y-%m-%d %H:%M:%S'))
        return marketTimeStamps
    
    def getHumanTime(self,ts):
        s, ms = divmod(ts, 1000000000)
        return datetime(*time.gmtime(s)[:6]),ms
        #print('{}.{:03d}'.format(time.strftime('%Y-%m-%d %H:%M:%S', time.gmtime(s)), ms))

# Process the ticker data

XLK: Technology Select Sector SPDR Fund <br>
Inception Date: 1998-12-16 <br>
Fund Holdings as of: 2020-02-14 <br>
"Total Assets Under Management (in thousands):	28798933" <br>
Shares Outstanding: 282406000 <br>
Expense Ratio: 0.13% <br>
Tracks This Index: Technology Select Sector Index <br>
ETFdb.com Category: Technology Equities <br>
Issuer: State Street SPDR <br>
Structure: ETF <br>
ETF Home Page: https://etfdb.com/etf/XLK <br>

In [62]:
date='2020-02-14'
starttime='9:30:00'
endtime='16:00:00'

data=pd.read_csv("XLK-holdings20200214.csv")
symbols=list(data['Symbol'].values)+['XLK']

# Create an object of date when we need and time between which we need data
datetimeObj=DateTimeManipulation(date)
marketTimeStamps=datetimeObj.convertStringDateToTS(starttime=starttime,endtime=endtime)

tickHistData={}
for symbol in symbols:
    data=PolgonData().PolygonHistoricTrades(date=date,symbol=symbol,startTS=str(marketTimeStamps['marketOpenTS']),endTS=str(marketTimeStamps['marketCloseTS']),limitresult=str(5000))
    tickHistData[symbol]=data
    print(data['ticker'])
    print(datetimeObj.getHumanTime(data['results'][-1]['t']))

2020-02-14 9:30:00
2020-02-14 16:00:00
https://api.polygon.io/v2/ticks/stocks/nbbo/MSFT/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
MSFT
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=31, tm_sec=11, tm_wday=4, tm_yday=45, tm_isdst=0), 721003690)
https://api.polygon.io/v2/ticks/stocks/nbbo/AAPL/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
AAPL
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=35, tm_sec=48, tm_wday=4, tm_yday=45, tm_isdst=0), 12539374)
https://api.polygon.io/v2/ticks/stocks/nbbo/V/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
V
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=38, tm_sec=24, tm_wday=4, tm_yday=45, tm_isdst=0), 94531832)
https://api.polygon.io/v2/ticks/stocks/nbbo/MA/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
MA
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=50, tm_sec=7, tm_wday=4, tm_yday=45, tm_isdst=0), 175817822)
https://api.polygon.io/v2/ticks/stocks/nbbo/INTC/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
INTC
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=37, tm_sec=9, tm_wday=4, tm_yday=45, tm_isdst=0), 617508098)
https://api.polygon.io/v2/ticks/stocks/nbbo/CSCO/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
CSCO
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=32, tm_sec=42, tm_wday=4, tm_yday=45, tm_isdst=0), 337236598)
https://api.polygon.io/v2/ticks/stocks/nbbo/ADBE/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
ADBE
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=2, tm_sec=12, tm_wday=4, tm_yday=45, tm_isdst=0), 512535071)
https://api.polygon.io/v2/ticks/stocks/nbbo/NVDA/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
NVDA
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=30, tm_sec=1, tm_wday=4, tm_yday=45, tm_isdst=0), 722703223)
https://api.polygon.io/v2/ticks/stocks/nbbo/CRM/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
CRM
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=46, tm_sec=42, tm_wday=4, tm_yday=45, tm_isdst=0), 913548264)
https://api.polygon.io/v2/ticks/stocks/nbbo/PYPL/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
PYPL
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=36, tm_sec=47, tm_wday=4, tm_yday=45, tm_isdst=0), 228399957)
https://api.polygon.io/v2/ticks/stocks/nbbo/ACN/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
ACN
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=23, tm_sec=28, tm_wday=4, tm_yday=45, tm_isdst=0), 960914168)
https://api.polygon.io/v2/ticks/stocks/nbbo/IBM/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
IBM
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=52, tm_sec=28, tm_wday=4, tm_yday=45, tm_isdst=0), 697159717)
https://api.polygon.io/v2/ticks/stocks/nbbo/AVGO/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
AVGO
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=9, tm_sec=36, tm_wday=4, tm_yday=45, tm_isdst=0), 481257213)
https://api.polygon.io/v2/ticks/stocks/nbbo/TXN/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
TXN
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=48, tm_sec=3, tm_wday=4, tm_yday=45, tm_isdst=0), 940358513)
https://api.polygon.io/v2/ticks/stocks/nbbo/ORCL/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
ORCL
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=45, tm_sec=8, tm_wday=4, tm_yday=45, tm_isdst=0), 789800820)
https://api.polygon.io/v2/ticks/stocks/nbbo/QCOM/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
QCOM
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=38, tm_sec=12, tm_wday=4, tm_yday=45, tm_isdst=0), 476876219)
https://api.polygon.io/v2/ticks/stocks/nbbo/FIS/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
FIS
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=44, tm_sec=22, tm_wday=4, tm_yday=45, tm_isdst=0), 946453258)
https://api.polygon.io/v2/ticks/stocks/nbbo/INTU/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
INTU
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=15, tm_sec=29, tm_wday=4, tm_yday=45, tm_isdst=0), 924454312)
https://api.polygon.io/v2/ticks/stocks/nbbo/ADP/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
ADP
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=16, tm_sec=3, tm_wday=4, tm_yday=45, tm_isdst=0), 635496934)
https://api.polygon.io/v2/ticks/stocks/nbbo/FISV/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
FISV
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=14, tm_sec=13, tm_wday=4, tm_yday=45, tm_isdst=0), 621629400)
https://api.polygon.io/v2/ticks/stocks/nbbo/NOW/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
NOW
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=6, tm_sec=1, tm_wday=4, tm_yday=45, tm_isdst=0), 833242577)
https://api.polygon.io/v2/ticks/stocks/nbbo/MU/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
MU
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=33, tm_sec=59, tm_wday=4, tm_yday=45, tm_isdst=0), 435896441)
https://api.polygon.io/v2/ticks/stocks/nbbo/GPN/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
GPN
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=49, tm_sec=58, tm_wday=4, tm_yday=45, tm_isdst=0), 758363120)
https://api.polygon.io/v2/ticks/stocks/nbbo/AMAT/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
AMAT
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=37, tm_sec=51, tm_wday=4, tm_yday=45, tm_isdst=0), 401436838)
https://api.polygon.io/v2/ticks/stocks/nbbo/AMD/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
AMD
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=30, tm_sec=43, tm_wday=4, tm_yday=45, tm_isdst=0), 623203327)
https://api.polygon.io/v2/ticks/stocks/nbbo/LRCX/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
LRCX
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=0, tm_sec=26, tm_wday=4, tm_yday=45, tm_isdst=0), 128822823)
https://api.polygon.io/v2/ticks/stocks/nbbo/ADSK/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
ADSK
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=34, tm_sec=2, tm_wday=4, tm_yday=45, tm_isdst=0), 19952574)
https://api.polygon.io/v2/ticks/stocks/nbbo/ADI/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
ADI
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=13, tm_sec=10, tm_wday=4, tm_yday=45, tm_isdst=0), 18212078)
https://api.polygon.io/v2/ticks/stocks/nbbo/CTSH/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
CTSH
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=20, tm_sec=57, tm_wday=4, tm_yday=45, tm_isdst=0), 593310273)
https://api.polygon.io/v2/ticks/stocks/nbbo/HPQ/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
HPQ
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=42, tm_sec=10, tm_wday=4, tm_yday=45, tm_isdst=0), 183383822)
https://api.polygon.io/v2/ticks/stocks/nbbo/MSI/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000

MSI
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=51, tm_sec=59, tm_wday=4, tm_yday=45, tm_isdst=0), 415750056)
https://api.polygon.io/v2/ticks/stocks/nbbo/TEL/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
TEL
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=6, tm_sec=41, tm_wday=4, tm_yday=45, tm_isdst=0), 448871444)
https://api.polygon.io/v2/ticks/stocks/nbbo/APH/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
APH
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=52, tm_sec=1, tm_wday=4, tm_yday=45, tm_isdst=0), 232646850)
https://api.polygon.io/v2/ticks/stocks/nbbo/PAYX/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
PAYX
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=8, tm_sec=30, tm_wday=4, tm_yday=45, tm_isdst=0), 676013528)
https://api.polygon.io/v2/ticks/stocks/nbbo/KLAC/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
KLAC
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=23, tm_sec=28, tm_wday=4, tm_yday=45, tm_isdst=0), 104748179)
https://api.polygon.io/v2/ticks/stocks/nbbo/FLT/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
FLT
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=39, tm_sec=20, tm_wday=4, tm_yday=45, tm_isdst=0), 16458778)
https://api.polygon.io/v2/ticks/stocks/nbbo/MCHP/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
MCHP
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=21, tm_sec=43, tm_wday=4, tm_yday=45, tm_isdst=0), 898154489)
https://api.polygon.io/v2/ticks/stocks/nbbo/ANSS/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
ANSS
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=35, tm_sec=16, tm_wday=4, tm_yday=45, tm_isdst=0), 315419324)
https://api.polygon.io/v2/ticks/stocks/nbbo/SNPS/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
SNPS
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=19, tm_sec=18, tm_wday=4, tm_yday=45, tm_isdst=0), 31980913)
https://api.polygon.io/v2/ticks/stocks/nbbo/XLNX/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
XLNX
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=4, tm_sec=21, tm_wday=4, tm_yday=45, tm_isdst=0), 124997295)
https://api.polygon.io/v2/ticks/stocks/nbbo/CDNS/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
CDNS
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=32, tm_sec=39, tm_wday=4, tm_yday=45, tm_isdst=0), 502830694)
https://api.polygon.io/v2/ticks/stocks/nbbo/GLW/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
GLW
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=49, tm_sec=14, tm_wday=4, tm_yday=45, tm_isdst=0), 717271036)
https://api.polygon.io/v2/ticks/stocks/nbbo/VRSN/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
VRSN
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=51, tm_sec=41, tm_wday=4, tm_yday=45, tm_isdst=0), 117574574)
https://api.polygon.io/v2/ticks/stocks/nbbo/WDC/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
WDC
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=44, tm_sec=1, tm_wday=4, tm_yday=45, tm_isdst=0), 96713228)
https://api.polygon.io/v2/ticks/stocks/nbbo/SWKS/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
SWKS
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=1, tm_sec=16, tm_wday=4, tm_yday=45, tm_isdst=0), 4085803)
https://api.polygon.io/v2/ticks/stocks/nbbo/CDW/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
CDW
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=31, tm_sec=1, tm_wday=4, tm_yday=45, tm_isdst=0), 150962490)
https://api.polygon.io/v2/ticks/stocks/nbbo/HPE/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
HPE
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=51, tm_sec=3, tm_wday=4, tm_yday=45, tm_isdst=0), 785588733)
https://api.polygon.io/v2/ticks/stocks/nbbo/KEYS/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
KEYS
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=28, tm_sec=31, tm_wday=4, tm_yday=45, tm_isdst=0), 597792590)
https://api.polygon.io/v2/ticks/stocks/nbbo/MXIM/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
MXIM
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=29, tm_sec=52, tm_wday=4, tm_yday=45, tm_isdst=0), 621203023)
https://api.polygon.io/v2/ticks/stocks/nbbo/FTNT/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
FTNT
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=51, tm_sec=47, tm_wday=4, tm_yday=45, tm_isdst=0), 524714858)
https://api.polygon.io/v2/ticks/stocks/nbbo/AKAM/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
AKAM
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=52, tm_sec=1, tm_wday=4, tm_yday=45, tm_isdst=0), 575883997)
https://api.polygon.io/v2/ticks/stocks/nbbo/PAYC/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
PAYC
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=11, tm_sec=25, tm_wday=4, tm_yday=45, tm_isdst=0), 945146227)
https://api.polygon.io/v2/ticks/stocks/nbbo/LDOS/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
LDOS
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=51, tm_sec=41, tm_wday=4, tm_yday=45, tm_isdst=0), 686494131)
https://api.polygon.io/v2/ticks/stocks/nbbo/CTXS/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
CTXS
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=51, tm_sec=59, tm_wday=4, tm_yday=45, tm_isdst=0), 607453116)
https://api.polygon.io/v2/ticks/stocks/nbbo/BR/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
BR
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=51, tm_sec=10, tm_wday=4, tm_yday=45, tm_isdst=0), 348193044)
https://api.polygon.io/v2/ticks/stocks/nbbo/IT/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
IT
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=52, tm_sec=0, tm_wday=4, tm_yday=45, tm_isdst=0), 18264428)
https://api.polygon.io/v2/ticks/stocks/nbbo/JKHY/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
JKHY
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=52, tm_sec=0, tm_wday=4, tm_yday=45, tm_isdst=0), 575203950)
https://api.polygon.io/v2/ticks/stocks/nbbo/ZBRA/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
ZBRA
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=51, tm_sec=58, tm_wday=4, tm_yday=45, tm_isdst=0), 173781870)
https://api.polygon.io/v2/ticks/stocks/nbbo/STX/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
STX
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=43, tm_sec=7, tm_wday=4, tm_yday=45, tm_isdst=0), 28416956)
https://api.polygon.io/v2/ticks/stocks/nbbo/NTAP/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
NTAP
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=30, tm_sec=25, tm_wday=4, tm_yday=45, tm_isdst=0), 166645476)
https://api.polygon.io/v2/ticks/stocks/nbbo/QRVO/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000

QRVO
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=28, tm_sec=30, tm_wday=4, tm_yday=45, tm_isdst=0), 388321616)
https://api.polygon.io/v2/ticks/stocks/nbbo/ANET/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
ANET
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=8, tm_sec=3, tm_wday=4, tm_yday=45, tm_isdst=0), 200988731)
https://api.polygon.io/v2/ticks/stocks/nbbo/NLOK/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
NLOK
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=46, tm_sec=25, tm_wday=4, tm_yday=45, tm_isdst=0), 243135082)
https://api.polygon.io/v2/ticks/stocks/nbbo/WU/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
WU
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=46, tm_sec=4, tm_wday=4, tm_yday=45, tm_isdst=0), 349380725)
https://api.polygon.io/v2/ticks/stocks/nbbo/JNPR/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
JNPR
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=14, tm_min=52, tm_sec=15, tm_wday=4, tm_yday=45, tm_isdst=0), 283685019)
https://api.polygon.io/v2/ticks/stocks/nbbo/DXC/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
DXC
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=2, tm_sec=48, tm_wday=4, tm_yday=45, tm_isdst=0), 12446765)
https://api.polygon.io/v2/ticks/stocks/nbbo/FFIV/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
FFIV
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=52, tm_sec=0, tm_wday=4, tm_yday=45, tm_isdst=0), 79502550)
https://api.polygon.io/v2/ticks/stocks/nbbo/FLIR/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
FLIR
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=52, tm_sec=1, tm_wday=4, tm_yday=45, tm_isdst=0), 257085525)
https://api.polygon.io/v2/ticks/stocks/nbbo/XRX/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
XRX
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=50, tm_sec=6, tm_wday=4, tm_yday=45, tm_isdst=0), 75233281)
https://api.polygon.io/v2/ticks/stocks/nbbo/IPGP/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
IPGP
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=51, tm_sec=52, tm_wday=4, tm_yday=45, tm_isdst=0), 939830345)
https://api.polygon.io/v2/ticks/stocks/nbbo/ADS/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
ADS
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=51, tm_sec=55, tm_wday=4, tm_yday=45, tm_isdst=0), 105653945)
https://api.polygon.io/v2/ticks/stocks/nbbo/CASH/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
CASH
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=15, tm_min=51, tm_sec=41, tm_wday=4, tm_yday=45, tm_isdst=0), 968910224)
https://api.polygon.io/v2/ticks/stocks/nbbo/XLK/2020-02-14?timestamp=1581672600000000000&timestampLimit=1581695521575883997&limit=5000
XLK
(time.struct_time(tm_year=2020, tm_mon=2, tm_mday=14, tm_hour=13, tm_min=33, tm_sec=19, tm_wday=4, tm_yday=45, tm_isdst=0), 605354599)

# Meaning of Each Columns

In [71]:
tickHistData['AAPL']['map']

{'S': {'name': 'ask_size', 'type': 'int'},
 'X': {'name': 'ask_exchange', 'type': 'int'},
 'y': {'name': 'participant_timestamp', 'type': 'int64'},
 'f': {'name': 'trf_timestamp', 'type': 'int64'},
 'q': {'name': 'sequence_number', 'type': 'int'},
 'c': {'name': 'conditions', 'type': '[]int'},
 'p': {'name': 'bid_price', 'type': 'float64'},
 'z': {'name': 'tape', 'type': 'int'},
 't': {'name': 'sip_timestamp', 'type': 'int64'},
 'i': {'name': 'indicators', 'type': '[]int'},
 's': {'name': 'bid_size', 'type': 'int'},
 'x': {'name': 'bid_exchange', 'type': 'int'},
 'P': {'name': 'ask_price', 'type': 'float64'}}

In [120]:
df=pd.DataFrame.from_dict(tickHistData['AAPL']['results'])
df['t']=df['t'].apply(lambda x:DateTimeManipulation().getHumanTime(x))
df['y']=df['y'].apply(lambda x:DateTimeManipulation().getHumanTime(x))

In [123]:
df['Spread']=df['P']-df['p']

In [124]:
df.

,P,S,X,c,i,p,q,s,t,x,y,z,Spread
0,325.95,10,12,[1],NaN,325.64,16304,26,"(2020-02-14 09:30:00, 160151933)",11,"(2020-02-14 09:30:00, 159777792)",3,0.31
1,325.95,10,12,[1],NaN,325.64,16305,27,"(2020-02-14 09:30:00, 160198480)",11,"(2020-02-14 09:30:00, 159825664)",3,0.31
2,325.95,10,12,[1],NaN,325.64,16778,26,"(2020-02-14 09:30:49, 779017689)",11,"(2020-02-14 09:30:49, 778636032)",3,0.31
3,325.95,10,12,[1],NaN,325.64,16779,27,"(2020-02-14 09:30:49, 779229249)",11,"(2020-02-14 09:30:49, 778847488)",3,0.31
4,325.95,10,12,[1],NaN,325.64,16780,26,"(2020-02-14 09:30:49, 779898278)",11,"(2020-02-14 09:30:49, 779516928)",3,0.31
5,325.95,10,12,[1],NaN,325.64,16781,27,"(2020-02-14 09:30:49, 781614902)",11,"(2020-02-14 09:30:49, 781234944)",3,0.31
6,325.95,10,12,[1],NaN,325.75,17213,1,"(2020-02-14 09:31:44, 93480266)",11,"(2020-02-14 09:31:44, 93100544)",3,0.20
7,325.95,10,12,[1],NaN,325.76,17214,26,"(2020-02-14 09:31:44, 95130038)",11,"(2020-02-14 09:31:44, 94753536)",3,0.19
8,325.95,10,12,[1],NaN,325.76,17279,27,"(2020-02-14 09:31:55, 21117978)",11,"(2020-02-14 09:31:55, 20746752)",3,0.19
9,325.95,4,12,[1],NaN,325.76,19421,27,"(2020-02-14 09:37:01, 437475719)",11,"(2020-02-14 09:37:01, 437085952)",3,0.19
10,325.95,2,12,[1],NaN,325.76,19460,27,"(2020-02-14 09:37:15, 57267682)",11,"(2020-02-14 09:37:15, 57247440)",3,0.19
11,325.95,1,12,[1],NaN,325.76,19461,27,"(2020-02-14 09:37:15, 57294530)",11,"(2020-02-14 09:37:15, 57276969)",3,0.19
12,326.22,5,11,[1],NaN,325.76,19463,27,"(2020-02-14 09:37:15, 60229824)",11,"(2020-02-14 09:37:15, 60210472)",3,0.46
13,326.22,5,11,[1],NaN,325.95,19668,3,"(2020-02-14 09:37:37, 179978656)",12,"(2020-02-14 09:37:37, 179960395)",3,0.27
14,326.22,5,11,[1],NaN,325.95,21355,3,"(2020-02-14 09:42:45, 470475434)",12,"(2020-02-14 09:42:45, 470454953)",3,0.27
15,326.22,2,11,[1],NaN,325.95,21384,3,"(2020-02-14 09:42:49, 251645595)",12,"(2020-02-14 09:42:49, 251270656)",3,0.27
16,326.25,1,11,[1],NaN,325.95,21404,3,"(2020-02-14 09:42:51, 917542823)",12,"(2020-02-14 09:42:51, 917172736)",3,0.30
17,326.25,1,11,[1],NaN,325.90,21881,27,"(2020-02-14 09:44:14, 60741398)",11,"(2020-02-14 09:44:14, 60723139)",3,0.35
18,327.00,1,11,[1],NaN,326.25,21884,1,"(2020-02-14 09:44:14, 114793195)",12,"(2020-02-14 09:44:14, 114775275)",3,0.75
19,327.00,1,11,[1],NaN,325.90,21904,27,"(2020-02-14 09:44:17, 642867762)",11,"(2020-02-14 09:44:17, 642848947)",3,1.10
20,327.00,1,12,[1],NaN,326.00,22271,26,"(2020-02-14 09:45:06, 294414006)",11,"(2020-02-14 09:45:06, 294042880)",3,1.00
21,327.00,1,12,[1],NaN,325.90,22272,27,"(2020-02-14 09:45:06, 442630705)",11,"(2020-02-14 09:45:06, 442259712)",3,1.10
22,327.00,1,11,[1],NaN,325.90,22290,27,"(2020-02-14 09:45:07, 919547369)",11,"(2020-02-14 09:45:07, 919528203)",3,1.10
23,326.95,1,12,[1],NaN,326.03,22727,1,"(2020-02-14 09:46:38, 351697889)",11,"(2020-02-14 09:46:38, 351680303)",3,0.92
24,326.50,10,12,[1],NaN,326.03,22868,1,"(2020-02-14 09:47:02, 170128787)",11,"(2020-02-14 09:47:02, 170112037)",3,0.47
25,326.50,10,12,[1],NaN,325.95,23514,1,"(2020-02-14 09:47:59, 777955901)",11,"(2020-02-14 09:47:59, 777578752)",3,0.55
26,326.00,4,12,[1],NaN,325.95,23818,1,"(2020-02-14 09:48:53, 364659236)",11,"(2020-02-14 09:48:53, 364639466)",3,0.05
27,326.00,3,12,[1],NaN,325.95,23819,1,"(2020-02-14 09:48:53, 367806868)",11,"(2020-02-14 09:48:53, 367788646)",3,0.05
28,326.00,3,12,[1],NaN,325.90,23820,27,"(2020-02-14 09:48:53, 433355201)",11,"(2020-02-14 09:48:53, 432981504)",3,0.10
29,326.00,2,12,[1],NaN,325.90,23826,27,"(2020-02-14 09:48:55, 820455583)",11,"(2020-02-14 09:48:55, 820437082)",3,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,325.58,1,2,[1],[1],325.52,931067,2,"(2020-02-14 14:35:43, 878951700)",12,"(2020-02-14 14:35:43, 878935680)",3,0.06
4971,325.58,1,2,[1],[1],325.52,931068,1,"(2020-02-14 14:35:43, 879091195)",17,"(2020-02-14 14:35:43, 879075180)",3,0.06
4972,325.58,1,18,[1],[1],325.52,931079,1,"(2020-02-14 14:35:43, 884656021)",17,"(2020-02-14 14:35:43, 884638970)",3,0.06
4973,325.60,2,11,[1],[1],325.52,931084,1,"(2020-02-14 14:35:43, 885036462)",17,"(2020-02-14 14:35:43, 884839000)",3,0.08
4974,325.60,2,11,[1],[1],325.52,931218,2,"(2020-02-14 14:35:43, 957143202)",12,"(2020-02-14 14:35:43, 957126202)",3,0.08
4975,325.60,2,11,[1],[1],325.53,931688,1,"(2020-02-14 14:35:44, 312312090)",17,"(2020-02-14 14:35:44, 312294076)",3,0.07
4976,325.60,2,11,[1],[1],325.52,931753,2,"(2020-02-14 14:35:44, 355284951)",12,"(2020-02-14 14:35:44, 355266112)",3,0.08
4977,325.60,2,11,[1],[1],325.53,931852,1,"(2020-02-14 14:35:44, 505376916)",12,"(2020-02-14 14:35:44, 505359483)",3,0.07
4978,325.60,2,11,[1],[1],325.53,931853,2,"(2020-02-14 14:35:44, 505528962)",12,"(2020-02-14 14:35:44, 505510088)",3,0.07
4979,325.60,2,11,[1],[1],325.53,931883,1,"(2020-02-14 14:35:44, 525790232)",12,"(2020-02-14 14:35:44, 525773206)",3,0.07
4980,325.60,2,11,[1],[1],325.52,931899,1,"(2020-02-14 14:35:44, 546817012)",10,"(2020-02-14 14:35:44, 546800778)",3,0.08
4981,325.60,2,11,[1],[1],325.53,932190,1,"(2020-02-14 14:35:44, 815290339)",17,"(2020-02-14 14:35:44, 815263762)",3,0.07
4982,325.60,2,11,[1],[1],325.52,932216,1,"(2020-02-14 14:35:44, 861123294)",10,"(2020-02-14 14:35:44, 861106017)",3,0.08
4983,325.60,2,11,[1],[1],325.52,932221,2,"(2020-02-14 14:35:44, 866676393)",12,"(2020-02-14 14:35:44, 866659323)",3,0.08
4984,325.60,2,11,[1],[1],325.52,932281,1,"(2020-02-14 14:35:44, 922536839)",10,"(2020-02-14 14:35:44, 922520557)",3,0.08
4985,325.60,2,11,[1],[1],325.52,933155,2,"(2020-02-14 14:35:45, 340230132)",12,"(2020-02-14 14:35:45, 340213536)",3,0.08
4986,325.60,2,11,[1],[1],325.52,933164,1,"(2020-02-14 14:35:45, 340377806)",10,"(2020-02-14 14:35:45, 340361657)",3,0.08
4987,325.60,2,11,[1],[1],325.52,933510,2,"(2020-02-14 14:35:45, 548323826)",12,"(2020-02-14 14:35:45, 548307270)",3,0.08
4988,325.60,2,11,[1],[1],325.52,933569,1,"(2020-02-14 14:35:45, 607693576)",10,"(2020-02-14 14:35:45, 607676327)",3,0.08
4989,325.60,2,11,[1],[1],325.53,933830,1,"(2020-02-14 14:35:45, 734185378)",17,"(2020-02-14 14:35:45, 734167129)",3,0.07
4990,325.60,2,11,[1],[1],325.52,933886,1,"(2020-02-14 14:35:45, 782851960)",10,"(2020-02-14 14:35:45, 782834319)",3,0.08
4991,325.60,2,11,[1],[1],325.52,935652,10,"(2020-02-14 14:35:46, 725872145)",12,"(2020-02-14 14:35:46, 725855220)",3,0.08
4992,325.60,2,11,[1],[1],325.55,935653,15,"(2020-02-14 14:35:46, 726274039)",19,"(2020-02-14 14:35:46, 726067000)",3,0.05
4993,325.60,2,11,[1],[1],325.55,935654,29,"(2020-02-14 14:35:46, 726287557)",19,"(2020-02-14 14:35:46, 726102000)",3,0.05
4994,325.60,1,11,[1],[1],325.55,935666,29,"(2020-02-14 14:35:46, 727569908)",19,"(2020-02-14 14:35:46, 727191040)",3,0.05
4995,325.60,1,11,[1],[1],325.56,935667,1,"(2020-02-14 14:35:46, 727607150)",12,"(2020-02-14 14:35:46, 727590201)",3,0.04
4996,325.60,1,11,[1],[1],325.57,935668,2,"(2020-02-14 14:35:46, 727635478)",12,"(2020-02-14 14:35:46, 727618716)",3,0.03
4997,325.63,1,11,[1],[1],325.57,935669,2,"(2020-02-14 14:35:46, 727640033)",12,"(2020-02-14 14:35:46, 727261696)",3,0.06
4998,325.65,4,12,[1],[1],325.57,935674,2,"(2020-02-14 14:35:46, 727691100)",12,"(2020-02-14 14:35:46, 727315200)",3,0.08
4999,325.65,2,12,[1],[1],325.58,937814,1,"(2020-02-14 14:35:48, 12539374)",17,"(2020-02-14 14:35:48, 12519746)",3,0.07